In [13]:
from __future__ import print_function
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import *
import pandas as pd
import matplotlib.pyplot as plt

spark = SparkSession.builder.appName("Yelp Analysis").config("spark.some.config.option", "some-value").getOrCreate()
df = spark.read.json("file:///Users/yashparikh/Project/five_star_reviews.json")

df.createOrReplaceTempView("fiveStarReviews")
sqlDF = spark.sql("SELECT year(date) as year, month(date) as month FROM fiveStarReviews GROUP BY year, month ORDER BY year, month").toPandas()
reviewsByYearAndStar = sqlDF.groupby(['year', 'month'])

# .createOrReplaceTempView("reviewsByMonth")
# reviewsByMonthDF = spark.sql("SELECT year, month, count(year, month) as count FROM reviewsByMonth GROUP BY year, month ORDER BY year, month")
# reviewsByMonthDF.show()

# totalCountByYearAndStar = yearVsStarDF.groupby(['year', 'stars']).agg({'count': 'sum'})
# totalCountByYear = yearVsStarDF.groupby('year').agg({'count': 'sum'})
# totalCountByYearAndStar = totalCountByYearAndStar.div(totalCountByYear, level='year') * 100
# totalCountByYearAndStar['year'] = yearVsStarDF['year'].tolist()
# totalCountByYearAndStar['stars'] = yearVsStarDF['stars'].tolist()


# yearVsStarDF = yearVsStarDF.pivot(index='year', columns='stars', values='count')
# yearVsStarDF.plot.area(stacked=True, color=["#FF4040", "#CD3333","#CD5B45", "#6E8B3D", "#228B22"], figsize=(15,10))

     year  month
0    2006      1
1    2006      3
2    2007      1
3    2007      2
4    2007      5
5    2007      6
6    2007      8
7    2007      9
8    2007     12
9    2008      1
10   2008      2
11   2008      3
12   2008      4
13   2008      5
14   2009      1
15   2009      7
16   2009      8
17   2009      9
18   2009     10
19   2010      1
20   2010      3
21   2010      4
22   2010      5
23   2010      7
24   2010      8
25   2010      9
26   2010     11
27   2010     12
28   2011      1
29   2011      2
..    ...    ...
78   2015      7
79   2015      8
80   2015      9
81   2015     10
82   2015     11
83   2015     12
84   2016      1
85   2016      2
86   2016      3
87   2016      4
88   2016      5
89   2016      6
90   2016      7
91   2016      8
92   2016      9
93   2016     10
94   2016     11
95   2016     12
96   2017      1
97   2017      2
98   2017      3
99   2017      4
100  2017      5
101  2017      6
102  2017      7
103  2017      8
104  2017      9
105  2017     10
106  2017     11
107  2017     12

[108 rows x 2 columns]